.layout-game {
  background: url("../images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  .start-page-col1 {
    margin-top: 50px;
  }

  p {
    text-align: center;
  }
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}